html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
/* index css */
.container {
    max-width: 120rem;
    width: 100rem;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.content {
    text-align: center;
}

.list-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.list-item {
    width: 10rem;
    line-height: 4rem;
    margin: 0 1rem;
    background-color: #ccc;
    border-radius: 1rem;
}

.list-item:hover {
    background-color: #aaa;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

/* CV css */
body.cv-body {
    background-color: #e6cdcd;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

.cv-container {
    width: 100%;
    max-width: 120rem;
    background-color: #fff;
    margin: 3rem auto 0;
    box-shadow: 2rem 0 2rem rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.cv-information {
    text-align: justify;
    flex: 0 0 28%;
}

.user-avatar {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.user-avatar img {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.2rem solid #d6d5d5;
}

.user-introduce,
.user-information,
.user-skill {
    margin-left: 2rem;
    font-size: 1.4rem;
    padding: 1.2rem 0;
    border-bottom: 0.2rem solid #333;
}
.user-introduce h1,
.user-information h1,
.user-skill h1,
.user-hobby h1 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.user-info-list,
.user-skill-list,
.user-hobby-list {
    margin-left: 2.4rem;
    list-style: circle;
}
.user-info-list li,
.user-skill-list li,
.user-hobby-list li {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.user-hobby {
    margin-left: 2rem;
    font-size: 1.4rem;
    padding: 1.2rem 0;
}

.cv-section {
    margin: 4.4rem auto;
    flex: 1;
    min-width: 0;
    padding-right: 3rem;
}

.cv-header {
    /* padding: 10px 0; */
    border-bottom: 0.2rem solid #333;
}

.cv-header h1,
.cv-header p {
    text-align: center;
}

.cv-header h1 {
    padding: 1rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.cv-header p {
    font-size: 1.5rem;
}

.cv-header h2 {
    padding-bottom: 0.8rem;
    padding-top: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.job-title {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    width: 100%;
    gap: 2rem;
}

.job-title h3,
.job-title p {
    font-size: 1.5rem;
    font-weight: 500;
    flex-shrink: 1;
}

.experience-list ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 2rem;
}

.experience-list li {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.4;
}

.cv-content h2 {
    padding-bottom: 0.8rem;
    padding-top: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.cv-footer {
    border-top: 0.2rem solid #333;
    padding: 1.5rem 0;
}

.cv-footer p {
    font-size: 1.5rem;
}

.cv-footer p strong {
    font-weight: 500;
}

/* pricing-flex css */
.price-table-body {
    background-color: #50addc91;
}

.price-table-container {
    max-width: 100rem;
    width: 100%;
    text-align: center;
    background-color: #f4f2f2;
    margin: 15rem auto;
}

.price-table-header {
    padding: 3rem;
}

.price-table-heading {
    font-size: 4.5rem;
    padding-bottom: 1.5rem;
}

.price-table-desc {
    font-size: 2rem;
}

.price-table-content {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 3rem 4rem;
    gap: 2.5rem;
}

.price-table-item {
    background-color: #fff;
    flex-grow: 1;
    border: #333 solid 0.1rem;
    border-radius: 1rem;
}

.price-table-item.choosing {
    background-color: #4560f9be;
}

.price-table-item.choosing .item-desc {
    color: #fff;
}

.item-desc {
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #5d5c5c;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.price-name {
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.money {
    font-size: 3rem;
    padding-bottom: 1.5rem;
    color: #000;
}

.price-table-item.choosing .item-desc .money {
    color: #fff;
}

.feature {
    text-align: start;
    padding: 0 1.5rem;
    margin-bottom: 2.5rem;
}

.feature-list {
    list-style-type: disc;
    padding: 0;
    margin: 0;
}
.feature-item {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.btn {
    margin-top: auto;
    padding: 0.5rem 2.5rem;
    background-color: #e9e8e8;
    align-self: center;
    border: #a7a6a6 solid 0.1rem;
    border-radius: 0.5rem;
}
.price-table-item.choosing .item-desc .btn {
    background-color: #fff;
    color: #4560f9be;
}
/* product-list css */

:root {
    --primary-color: #ff9f1a;
    --background-body-color: #f4f4eb;
    --text-color: #585858;
    --icon-border-color: #545454;
    --background-primary-color: #fff;
    --background-text-color: #e9e9e9;
    --text-black-color: #333;
}

.product-page-body {
    background-color: var(--background-body-color);
    font-family: "Poppins", sans-serif;
}

.body-content {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-primary-color);
    padding: 0.5rem 2rem;
    align-items: stretch;
    border-radius: 5rem;
    margin-top: 2rem;
}

.logo {
    display: flex;
}

.list-menu-product {
    display: flex;
    height: 100%;
    font-weight: 400;
    font-size: 1.5rem;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: var(--text-color);
}

.menu-item:hover {
    color: var(--primary-color);
    cursor: pointer;
}

li > i {
    padding-right: 0.8rem;
}

.user {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.product-user-avatar img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.notification {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 50%;
    background-color: var(--background-primary-color);
    color: var(--icon-border-color);
    border: var(--icon-border-color) solid 0.05rem;
    cursor: pointer;
}

.notification:hover {
    color: var(--primary-color);
    border: var(--primary-color) solid 0.05rem;
}

.content-section {
    margin-top: 2rem;
    background-color: var(--background-primary-color);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.content-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.content-section-header h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

.action-form {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-right: 2.5rem;
    font-size: 1.3rem;
}

.search-form,
.filter-form {
    border: var(--icon-border-color) solid 0.02rem;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
}

.search-form:focus-within {
    border: var(--primary-color) solid 0.02rem;
}

.search-form i {
    color: var(--icon-border-color);
}

.search-form input {
    padding: 0.5rem 0.2rem;
    border: none;
    outline: none;
}

.filter-form {
    padding: 1rem 2rem;
}

.filter-form i {
    color: var(--icon-border-color);
    padding-right: 0.5rem;
}

.filter-form:active {
    border: var(--primary-color) solid 0.02rem;
}

.btn-create-order {
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--background-primary-color);
    border-radius: 5rem;
    border: var(--primary-color) solid 0.02rem;
}

.btn-create-order:hover {
    background-color: var(--background-primary-color);
    color: var(--primary-color);
    border: var(--primary-color) solid 0.02rem;
    cursor: pointer;
}

.list-categories {
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
}

.category-item {
    background-color: var(--background-primary-color);
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: var(--text-color);
    border: var(--icon-border-color) solid 0.02rem;
    border-radius: 5rem;
}

.category-item:hover {
    background-color: var(--background-text-color);
    color: var(--text-black-color);
    font-weight: 600;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.product-item {
    background-color: var(--background-text-color);
    padding: 0.5rem;
    border-radius: 2rem;
}

.product-img {
    width: 35rem;
    height: 25rem;
    background-color: var(--background-body-color);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img img {
    width: 25rem;
    height: 22rem;
    object-fit: contain;
}

.product-name,
.product-price {
    font-size: 1.5rem;
    color: var(--text-black-color);
    padding-top: 1.2rem;
    padding-left: 0.5rem;
}

.product-price {
    color: var(--primary-color);
    font-weight: 600;
}

.btn-action-group {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0.5rem;
}

.btn-addToCart {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--background-primary-color);
    border-radius: 5rem;
    border: var(--primary-color) solid 0.02rem;
}

.btn-addToCart:hover {
    background-color: var(--background-primary-color);
    color: var(--primary-color);
    border: var(--primary-color) solid 0.02rem;
    cursor: pointer;
}

.btn-link {
    display: flex;
    gap: 1rem;
}

.btn-addToWishlist,
.btn-share {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    background-color: var(--background-body-color);
    border-radius: 5rem;
    border: var(--icon-border-color) solid 0.02rem;
}

.btn-addToWishlist:hover,
.btn-share:hover {
    border: var(--primary-color) solid 0.02rem;
    cursor: pointer;
}

.btn-addToWishlist:hover i,
.btn-share:hover i {
    color: var(--primary-color);
}

.product-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
